<div class="div-debug">
  <div class="comp-badge">Sidenav-List</div>
  <mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <mat-list-item [matMenuTriggerFor]="menu">
      <mat-icon>unfold_more</mat-icon>
      <a matline>Tables</a>
    </mat-list-item>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onClickClientSideTable()">Client-side Table</button>
      <button mat-menu-item (click)="onClickServerSideTable()">Server-side Table</button>
      <button mat-menu-item (click)="onClickClientSideTableDnd()">Client-side Table w/ Drag-n-Drop</button>
    </mat-menu>
  </mat-nav-list>
</div>
