
<!--
Courtesy of: https://code-maze.com/get-started-angular-material/

As you can see, we use some angular/flex directives to create a responsive wrapper around our content. With the
fxLayout element, we define the flow order of the child elements inside the container. The fxLayoutAlign will
position children according to both main-axis and the cross-axis.

The fxFlex element resizes the child element to 80% of its parent, and if the screen goes below the medium than the
child will take a 100% of its parent. If you want to read more about flex-layout, you can find plenty of material
here: [Flex-Layout-Documentation](https://github.com/angular/flex-layout/wiki/API-Documentation).

With the <ng-content> element, we are using angular content projection.

We have two more classes: layout-wrapper and flex-wrapper, so let’s implement them inside the layout.component.css file

-->
<div style="height: 100%">
<div fxLayout="row wrap" fxLayoutAlign="center center" class="layout-wrapper">
  <div fxFlex="80%" fxFlex.lt-md="100%" class="flex-wrapper">
      <ng-content></ng-content>
  </div>
</div>
</div>
