/* You can add global styles to this file, and also import other style files */

/* import default angular material.io theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* for sidenav to take a whole page */
html, body { 
    margin: 0;
    height: 100%;
}

.div-debug {
    border-style: dashed;
    border-color: lightgray;
}

.comp-badge {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    padding: 5px;
    background-color: rgba(211, 211, 211, 0.2);
}