.app-main-container {
  position: absolute;
  top: 0;
  bottom: 25px;
  left: 0;
  right: 0;
}

.app-main-content {
  margin: 10px;
}

.app-main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
  font-size: 10px;
}